<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
   
    <!--While Running Uncomment this-->
    <!--<add name="GOFetchBulkInvoicePrinter.Properties.Settings.GOFetchBulkInvoicePrinterBackboneAdress"
        connectionString="http://localhost:9000"/>-->

    <!--While Deploy Uncomment this-->
    <add name="GOFetchBulkInvoicePrinter.Properties.Settings.TaskCatAddress"
        connectionString="http://fetchprod.gobd.co"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>